.onboardingPage {
  min-height: 100vh;
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.onboardingBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}


.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--foreground);
  font-size: 1.4rem;
  font-weight: 600;
margin-bottom: 0.6rem;

span {
  line-height: 1;
}
}

.dividerSub {
  margin-bottom: 4rem;
  font-size: 1.3rem;
  color: #262626a5;
  font-weight: 600;
  text-align: center;

  span {
  line-height: 1;
}
}

@media (prefers-color-scheme: dark) {
  .dividerSub {
    color: #faf9f599;
  }
}


.onboardingInput, .passwordInput {
  background: var(--background);
  color: var(--foreground);
  border: 1px solid #2626261a;
  border-radius: 8px;
  padding: 0.9rem 1rem;
  font-size: 1rem;
  outline: none;
  transition: border 0.2s;
}
.onboardingInput:focus, .passwordInput:focus {
  border: 1px solid #2626263a;
}

@media (prefers-color-scheme: dark) {
  .onboardingInput, .passwordInput {
    border: 1px solid #dedddd1a;
  }
  .onboardingInput:focus, .passwordInput:focus {
    border: 1px solid #dedddd56;
  }
}

.error {
  color: #ff4d4f;
  margin-top: 0.5rem;
  font-size: 0.98rem;
}


.passwordInputWrap {
  position: relative;
  display: flex;
  align-items: center;
  background: var(--background);
  border-radius: 8px;
  border: 1px solid #2626261a;
  transition: border 0.2s;
  margin-bottom: 1rem;
}
.passwordInputWrap.active,
.passwordInputWrap:focus-within {
  border: 1px solid #2626263a;
}
@media (prefers-color-scheme: dark) {
  .passwordInputWrap {
    border: 1px solid #dedddd1a;
  }
  .passwordInputWrap.active,
  .passwordInputWrap:focus-within {
    border: 1px solid #dedddd56;
  }
}

.onboardingLabel {
  color: var(--foreground);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0;
}

.onboardingPasswordLabel {
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 1.5rem;
}

.passwordInput {
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
  flex: 1;
  padding-right: 40px;
}

.eyeIcon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

@media (max-width: 600px) {
  .onboardingPage {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.formFields {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
