.onboardingPage {
  min-height: 100vh;
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.onboardingBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--foreground);
  font-size: 2.24rem;
  font-weight: 600;
  margin-bottom: 0.96rem;

  span {
    line-height: 1;
  }
}

.dividerSub {
  margin-bottom: 6.4rem;
  font-size: 2.08rem;
  color: #262626a5;
  font-weight: 600;
  text-align: center;

  span {
    line-height: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .dividerSub {
    color: #faf9f599;
  }
}

.onboardingInput, .passwordInput {
  background: var(--background);
  color: var(--foreground);
  border: 1px solid #2626261a;
  border-radius: 8px;
  padding: 1.44rem 1.6rem;
  font-size: 1.6rem;
  outline: none;
  transition: border 0.2s;
}
.onboardingInput:focus, .passwordInput:focus {
  border: 1px solid #2626263a;
}

@media (prefers-color-scheme: dark) {
  .onboardingInput, .passwordInput {
    border: 1px solid #dedddd1a;
  }
  .onboardingInput:focus, .passwordInput:focus {
    border: 1px solid #dedddd56;
  }
}

.error {
  color: #ff4d4f;
  margin-top: 0.8rem;
  font-size: 1.568rem;
}

.passwordInputWrap {
  border: 1px solid #2626261a;
  border-radius: 8px;
  background: var(--background);
  transition: border 0.2s;
  margin-bottom: 1.6rem;
}
.passwordInputWrap.active,
.passwordInputWrap:focus-within {
  border: 1px solid #2626263a;
}
@media (prefers-color-scheme: dark) {
  .passwordInputWrap {
    border: 1px solid #dedddd1a;
  }
  .passwordInputWrap.active,
  .passwordInputWrap:focus-within {
    border: 1px solid #dedddd56;
  }
}

.onboardingLabel {
  color: var(--foreground);
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0;
}

.onboardingPasswordLabel {
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 2.4rem;
}

.passwordInput {
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
  flex: 1;
  padding-right: 64px;
  color: var(--foreground);
  font-size: 1.6rem;
}

.eyeIcon {
  position: absolute;
  right: 19.2px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

@media (max-width: 600px) {
  .onboardingPage {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}

.formFields {
  gap: 1.12rem;
}
