.card {
  background: var(--background);
  border-radius: 20px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
  border: 1px solid rgba(0,0,0,0.07);
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &Top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 600;
    border-bottom: 1px solid rgba(0,0,0,0.08);

    .actionLinks {
      display: flex;
      align-items: center;
      gap: 0.8rem;

      .copy {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: var(--background);
        cursor: pointer;
        transition: background-color 0.2s;
         box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
  border: 1px solid rgba(0,0,0,0.085);

        .copyIcon {
          width: 18px;
          height: 18px;
        }

        &:hover {
          background-color: rgba(0,0,0,0.05);
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    border: 1px solid rgba(255,255,255,0.08);
    box-shadow: 0 1px 3px 0 rgba(255,255,255,0.06), 0 1px 2px -1px rgba(255,255,255,0.08);

    &Top {
      border-bottom: 1px solid rgba(255,255,255,0.08);

      .actionLinks {
        .copy {
          border: 1px solid rgba(255,255,255,0.095);
    box-shadow: 0 1px 3px 0 rgba(255,255,255,0.06), 0 1px 2px -1px rgba(255,255,255,0.08);
          &:hover {
            background-color: rgba(255,255,255,0.05);
          }
        }
      }
    }
  }
}