.card {
  background: var(--background);
  border-radius: 20px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
  border: 1px solid rgba(0,0,0,0.07);
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &Top {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 2rem;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 600;

    .linkIconCircle {
      width: 21px;
      height: 21px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: #888;
      margin-right: 0.3rem;
    }


        .cardRedirect {
      font-size: 1.2rem;
      color: #888;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-left: 2.9rem;

      .arrow {
        font-size: 1.3rem;
        border-radius: 50%;
      }
    }
  }

  &Bottom {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    


  }
}

@media (prefers-color-scheme: dark) {
  .card {
    border: 1px solid rgba(255,255,255,0.08);
    box-shadow: 0 1px 3px 0 rgba(255,255,255,0.06), 0 1px 2px -1px rgba(255,255,255,0.08);
  }
}