.passwordInputWrap {
  position: relative;
  display: flex;
  align-items: center;
  background: var(--background);
  border-radius: 8px;
  border: 1px solid #2626261a;
  transition: border 0.2s;
  margin-bottom: 1.6rem;
}

.passwordInputWrap.active,
.passwordInputWrap:focus-within {
  border: 1px solid #2626263a;
}

.passwordInput {
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
  flex: 1;
  padding: 1.44rem 1.6rem;
  padding-right: 64px;
  color: var(--foreground);
  font-size: 1.6rem;
}

.eyeIcon {
  position: absolute;
  right: 19.2px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

@media (prefers-color-scheme: dark) {
  .passwordInputWrap {
    border: 1px solid #dedddd1a;
  }
  .passwordInputWrap.active,
  .passwordInputWrap:focus-within {
    border: 1px solid #dedddd56;
  }
} 