.googleButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: var(--accent);
  border: none;
  border-radius: 8px;
  padding: 1.36rem 0;
  font-size: 1.728rem;
  font-weight: 500;
  color: var(--foreground);
  cursor: pointer;
  transition: border 0.2s, background 0.2s;
  outline: none;
}

.googleButton:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.logoWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0;
  width: 2.8rem;
  height: 2.8rem
}
.text {
  text-align: center;
} 